In [1]:
from sklearn.datasets import load_iris
import numpy as np
import pandas as pd

In [2]:
data = load_iris()

In [3]:
X = data.data
y = data.target

In [4]:
X.shape

(150, 4)

In [5]:
y.shape

(150,)

In [6]:
df = pd.DataFrame(X,columns=data.feature_names)

In [7]:
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [8]:
df['target'] = y

In [9]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [10]:
### shuffle data

df = df.sample(frac=1).reset_index(drop=True)

In [11]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,6.3,3.4,5.6,2.4,2
1,4.9,2.4,3.3,1.0,1
2,6.2,3.4,5.4,2.3,2
3,4.6,3.4,1.4,0.3,0
4,5.0,3.4,1.5,0.2,0

In [12]:
train_df = df.iloc[:100,:]

In [13]:
train_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,6.3,3.4,5.6,2.4,2
1,4.9,2.4,3.3,1.0,1
2,6.2,3.4,5.4,2.3,2
3,4.6,3.4,1.4,0.3,0
4,5.0,3.4,1.5,0.2,0
...,...,...,...,...,...
95,6.4,3.2,4.5,1.5,1
96,6.2,2.8,4.8,1.8,2
97,5.9,3.2,4.8,1.8,1
98,7.7,3.8,6.7,2.2,2
99,6.3,2.5,4.9,1.5,1

In [14]:
train_df.to_csv('train.csv',index=False)

In [15]:
test_df = df.iloc[100:,:-1]

In [16]:
test_df.head()

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
100                4.7               3.2                1.3               0.2
101                4.9               3.0                1.4               0.2
102                5.5               2.4                3.7               1.0
103                5.6               2.5                3.9               1.1
104                5.0               2.0                3.5               1.0

In [17]:
test_df.to_csv('test.csv',index=False)